src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:getsatisfaction="http://www.mulesoft.org/schema/mule/getsatisfaction"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/getsatisfaction http://www.mulesoft.org/schema/mule/getsatisfaction/current/mule-getsatisfaction.xsd">

    <getsatisfaction:config key="1fjo088bougl" secret="aqfi8q65z031wlhqsrj37rhuv1qlwy78"
                            email="emiliano.lesende@mulesoft.com" uid="emiliano.lesende" fullName="Emiliano Lesende"/>

    <spring:beans>
        <spring:bean id="myTopic" class="org.mule.module.getsatisfaction.model.Topic">
            <spring:property name="subject" value="My Subject"/>
            <spring:property name="content" value="This is the content for My Subject"/>
            <spring:property name="style" value="IDEA"/>
        </spring:bean>
    </spring:beans>

    <spring:beans>
        <spring:bean id="myReply" class="org.mule.module.getsatisfaction.model.Reply">
            <spring:property name="content" value="This is the content for My Reply"/>
        </spring:bean>
    </spring:beans>

    <flow name="test">
        <getsatisfaction:create-reply-for-topic idOrSlug="my_subject-xh8t1" reply-ref="myReply"/>
    </flow>

    <flow name="testQuery">
        <getsatisfaction:get-topics-by-company-and-product company="mulesoft" product="71188"/>
        <logger level="WARN" message="#[payload.getClass().getName()]"/>
        <logger level="WARN" message="#[payload[1].topicUrl]"/>
    </flow>

</mule>
